In [183]:
import pandas as pd
import numpy as np

from googleapiclient.discovery import build
import google_auth_oauthlib.flow
import googleapiclient.discovery
import googleapiclient.errors


from dateutil import parser
import pandas as pd
from IPython.display import JSON

import os
import requests
import pickle

import isodate
from datetime import datetime

from dotenv import load_dotenv 
load_dotenv()

# text recognition

import nltk
import spacy
import locationtagger
import re
import itertools

#import geograpy

from collections import Counter
from operator import itemgetter

In [23]:
# essential entity models downloads
# nltk.downloader.download('maxent_ne_chunker')
# nltk.downloader.download('words')
# nltk.downloader.download('treebank')
# nltk.downloader.download('maxent_treebank_pos_tagger')
# nltk.downloader.download('punkt')
# nltk.download('averaged_perceptron_tagger')

#!python -m spacy download en_core_web_sm

https://www.youtube.com/@KaraandNate/videos
Mark Wiens
Yes theory
https://www.youtube.com/woltersworld
https://www.youtube.com/@hopscotchtheglobe/videos
https://www.youtube.com/lostleblanc
https://www.youtube.com/drewbinsky
https://www.youtube.com/@fearlessandfar/videos
https://www.youtube.com/@gonewiththewynns
https://www.youtube.com/@samuelandaudrey

ytp-ce-channel-title ytp-ce-link

In [20]:
channel_ids = ['UCnTsUMBOA8E-OHJE-UrFOnA', #samuel and audrey
               'UC4ijq8Cg-8zQKx8OH12dUSw', #kara and nate
               'UCyEd6QBSgat5kkC6svyjudA', #mark weins
               'UCvK4bOhULCpmLabd2pDMtnA', #yes theory
               'UCFr3sz2t3bDp6Cux08B93KQ', #wolters world
               'UC0Ize0RLIbGdH5x4wI45G-A', #drew binsky
               'UC_DmOS_FBvO4H27U7X0OtRg', #fearless and far
               'UCBo9TLJiZ5HI5CXFsCxOhmA', #gone with the wymns
               'UCt_NLJ4McJlCyYM-dSPRo7Q', #lost leblanc
               'UC0Tf8LUUtL3E24Dr28vXkbA' #hopscotchtheglobe
              ]

In [21]:
channel_stats = get_channel_stats(youtube, channel_ids)
channel_stats

,channelName,subscribers,views,totalVideos,playlistId
0,Kara and Nate,3320000,634444525,862,UU4ijq8Cg-8zQKx8OH12dUSw
1,Mark Wiens,9420000,2236372883,1270,UUyEd6QBSgat5kkC6svyjudA
2,Samuel and Audrey - Travel and Food Videos,414000,97766600,1281,UUnTsUMBOA8E-OHJE-UrFOnA
3,More Travels w/ Drew Binsky,510000,270035139,281,UU7xP-m9hfVmFqNLaKGgIlzA
4,Yes Theory,8100000,957874344,365,UUvK4bOhULCpmLabd2pDMtnA
5,Gone with the Wynns,524000,116955103,524,UUBo9TLJiZ5HI5CXFsCxOhmA
6,Kristen & Siya,323000,53878344,633,UU0Tf8LUUtL3E24Dr28vXkbA
7,Fearless & Far,1420000,138043781,296,UU_DmOS_FBvO4H27U7X0OtRg
8,Lost LeBlanc,2050000,202342448,788,UUt_NLJ4McJlCyYM-dSPRo7Q
9,Wolters World,924000,212010591,2216,UUFr3sz2t3bDp6Cux08B93KQ

In [334]:
channel_stats.to_pickle('channel_stats.pkl')
videos_info.to_pickle('videos_info.pkl')

In [27]:
videos_info = creating_info_df(youtube, channel_stats)

Getting video information from channel: Kara and Nate

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Mark Wiens

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Samuel and Audrey - Travel and Food Videos

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: More Travels w/ Drew Binsky

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Yes Theory

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Gone with the Wynns

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Kristen & Siya

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Fearless & Far

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Lost LeBlanc

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

Getting video information from channel: Wolters World

C:\Users\mayar\AppData\Local\Temp\ipykernel_15344\4146777503.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)

In [35]:
videos_info.dtypes

video_id        object
channelTitle    object
title           object
description     object
tags            object
publishedAt     object
viewCount       object
likeCount       object
commentCount    object
duration        object
caption         object
dtype: object

In [82]:
# videos_details2 = pd.read_pickle('video_details_bestplaces.pkl')
# videos_details = pd.read_pickle('video_details.pkl')

In [304]:
api_service_name = "youtube"
api_version = "v3"
DEVELOPER_KEY = os.getenv('yt_key')

youtube = googleapiclient.discovery.build(
api_service_name, api_version, developerKey = DEVELOPER_KEY)

In [26]:
def creating_info_df(youtube, channel_data):
    # Create a dataframe with video statistics and comments from all channels

    video_df = pd.DataFrame()
    comments_df = pd.DataFrame()

    for c in channel_data['channelName'].unique():
        print("Getting video information from channel: " + c)
        playlist_id = channel_data.loc[channel_data['channelName']== c, 'playlistId'].iloc[0]
        video_ids = get_video_ids(youtube, playlist_id)

        # get video data
        video_data = get_video_details(youtube, video_ids)
#         # get comment data
#         comments_data = get_comments_in_videos(youtube, video_ids)

        # append video data together and comment data toghether
        video_df = video_df.append(video_data, ignore_index=True)
#         comments_df = comments_df.append(comments_data, ignore_index=True)

    return video_df

In [15]:
def get_channel_stats(youtube, channel_ids):
    
    """
    Get channel stats
    
    Params:
    ------
    youtube: build object of Youtube API
    channel_ids: list of channel IDs
    
    Returns:
    ------
    dataframe with all channel stats for each channel ID
    
    """
    
    all_data = []
    
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=','.join(channel_ids)
    )
    response = request.execute()

    # loop through items
    for item in response['items']:
        data = {'channelName': item['snippet']['title'],
                'subscribers': item['statistics']['subscriberCount'],
                'views': item['statistics']['viewCount'],
                'totalVideos': item['statistics']['videoCount'],
                'playlistId': item['contentDetails']['relatedPlaylists']['uploads']
        }
        
        all_data.append(data)
        
    all_data = pd.DataFrame(all_data)
    
    numeric_cols = ['subscribers', 'views', 'totalVideos']
    all_data[numeric_cols] = all_data[numeric_cols].apply(pd.to_numeric, errors='coerce')
        
    return(all_data)

In [13]:
# # Function to search

# def get_travel_videos_ids(youtube, search):

#     request = youtube.search().list(
    
#     part="id,snippet",
#     maxResults=50,
#     order="relevance",
#     q=search,
#     relevanceLanguage="en",
#     type="video",
#     videoCategoryId="19"
#     )

#     response = request.execute()

#     all_videos = []

#     for i in range(len(response['items'])):

#         all_videos.append(response['items'][i]['id']['videoId'])

#     next_page_token = response.get('nextPageToken')
#     more_pages = True

#     while more_pages:
#         if next_page_token is None:
#             more_pages = False
#         else:
#             request = youtube.search().list(

#             part="id,snippet",
#             maxResults=50,
#             order="relevance",
#             q=search,
#             relevanceLanguage="en",
#             type="video",
#             videoCategoryId="19",
#             pageToken = next_page_token
#             )

#             response = request.execute()

#             for i in range(len(response['items'])):
#                 all_videos.append(response['items'][i]['id']['videoId'])

#             next_page_token = response.get('nextPageToken')
                
#     return all_videos

In [7]:
def get_video_ids(youtube, playlist_id):
    """
    Get list of video IDs of all videos in the given playlist
    Params:
    
    youtube: the build object from googleapiclient.discovery
    playlist_id: playlist ID of the channel
    
    Returns:
    List of video IDs of all videos in the playlist
    
    """
    
    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults = 50)
    response = request.execute()
    
    video_ids = []
    
    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
    
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            
            next_page_token = response.get('nextPageToken')
        
    return video_ids

In [3]:
def get_video_details(youtube, video_ids):
    
    """
    Get video statistics of all videos with given IDs
    Params:
    
    youtube: the build object from googleapiclient.discovery
    video_ids: list of video IDs
    
    Returns:
    Dataframe with statistics of videos, i.e.:
        'channelTitle', 'title', 'description', 'tags', 'publishedAt'
        'viewCount', 'likeCount', 'favoriteCount', 'commentCount'
        'duration', 'caption'(boolean)
    """
        
    all_video_info = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(video_ids[i:i+50])
        )
        response = request.execute() 

        for video in response['items']:
            stats_to_keep = {
                             'snippet': ['channelTitle', 'title', 'description', 'tags', 'publishedAt'],
                             'statistics': ['viewCount', 'likeCount', 'commentCount'],
                             'contentDetails': ['duration', 'caption']
                            }
            video_info = {}
            video_info['video_id'] = video['id']

            for k in stats_to_keep.keys():
                for v in stats_to_keep[k]:
                    try:
                        video_info[v] = video[k][v]
                    except:
                        video_info[v] = None

            all_video_info.append(video_info)
            
    return pd.DataFrame(all_video_info)

In [15]:
#all_videos = get_travel_videos_ids(youtube, "travel|trip|vacation")
#len(all_videos)

In [16]:
#all_videos2 = get_travel_videos_ids(youtube, "best place to visit")
# len(all_videos2)

In [18]:
# videos_details = get_video_details(youtube, all_videos)
# videos_details2 = get_video_details(youtube, all_videos2)

In [30]:
# videos_details2.sample(3)

In [31]:
# videos_details2.dtypes

In [32]:
# videos_details2.isna().sum()

In [36]:
def cleaning_dfs(video_df):
    
    # convert count columns to numeric
    numeric_cols = ['viewCount', 'likeCount', 'commentCount']
    video_df[numeric_cols] = video_df[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

    # convert duration to minutes
    video_df['duration_minutes'] = video_df['duration'].apply(lambda x: isodate.parse_duration(x).seconds // 60)
    
    # convert date from ISO format and isolate year, month and day
    pd.to_datetime(video_df['publishedAt'])
    video_df['year_published'] = pd.DatetimeIndex(video_df['publishedAt']).year
    video_df['month_published'] = pd.DatetimeIndex(video_df['publishedAt']).month
    video_df['day_published'] = pd.DatetimeIndex(video_df['publishedAt']).day

In [45]:
def deleting_emojis(video_df):
    
    video_df['title'] = video_df['title'].str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE).str.replace('#', '',)
    video_df['title'] = video_df['title'].map(lambda x: x.lower() if isinstance(x,str) else x)
    
    video_df['description'] = video_df['description'].str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE).str.replace('#', '',)
    video_df['description'] = video_df['description'].map(lambda x: x.lower() if isinstance(x,str) else x)
    
    video_df['tags'] = video_df['tags'].astype(str).str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE).str.replace('#', '',)
    video_df['tags'] = video_df['tags'].map(lambda x: x.lower() if isinstance(x,str) else x)

In [46]:
deleting_emojis(videos_info)

In [37]:
cleaning_dfs(videos_info)

In [47]:
videos_info.sample(5)

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,commentCount,duration,caption,duration_minutes,year_published,month_published,day_published
68,meSpgKvtxJo,Kara and Nate,144 hours living in a canoe 6 days off the gri...,would you go 6 days off the grid with no inter...,"celsius energy, celsius, celsius official, bou...",2021-08-08T14:00:15Z,2995480.0,59057.0,3941.0,PT38M,false,38,2021,8,8
8418,KvaRPGlJdco,Wolters World,learn spanish - days of the week times of the...,http://www.woltersworld.com \r\nmark and his s...,"learn, spanish, time, days, of, the, week, wee...",2009-04-29T16:29:14Z,434.0,3.0,1.0,PT6M44S,false,6,2009,4,29
2016,gjhrrF4xDRk,Mark Wiens,floating market bangkok - bang nam pheung ตลาด...,visit http://migrationology.com/ for more trav...,"floating market bangkok, ตลาดนำบางนำผง, bangko...",2012-06-08T06:34:42Z,115531.0,1266.0,74.0,PT3M41S,false,3,2012,6,8
3012,tLI3celBGfk,Samuel and Audrey - Travel and Food Videos,"regatta boat race and wustrow city tour, germany",our last day in germany was spent visiting the...,"regatta boat race, things to do in wustrow, wu...",2015-07-11T05:00:00Z,2235.0,51.0,9.0,PT3M8S,true,3,2015,7,11
4484,ObkSCX0HtRU,Gone with the Wynns,rv smackdown - bounder vs excursion livability,see the full scoop here: http://www.gonewithth...,"2015, fleetwood bounder, fleetwood excursion, ...",2014-11-11T20:24:11Z,123005.0,995.0,85.0,PT11M25S,false,11,2014,11,11

In [305]:
def extracting_places(video_df):
    
    places_title = []
    places_tags = []
    places_description = []
    all_countries = []
    all_cities = []
    all_regions = []
    
    for index, row in video_df.iterrows():
        
        # extracting entities
        if row['title']:
            place_entity_title = locationtagger.find_locations(text = str(row['title']))
            
        else:
            place_entity_title = locationtagger.find_locations(text = 'none')


        if row['tags']:
            place_entity_tags = locationtagger.find_locations(text = str(row['tags']))
            
        else:
            place_entity_tags = locationtagger.find_locations(text = 'none')
          
        if row['description']:
            place_entity_description = locationtagger.find_locations(text = str(row['description']))
        
        else:
            place_entity_description = locationtagger.find_locations(text = 'none')

#         getting all countries, states and/or cities
#         places_title.append({'countries': place_entity_title.countries,
#                         'states': place_entity_title.regions,
#                         'cities': place_entity_title.cities})
        
#         places_tags.append({'countries': place_entity_tags.countries,
#                         'states': place_entity_tags.regions,
#                         'cities': place_entity_tags.cities})
        
#         places_description.append({'countries': place_entity_description.countries,
#                         'states': place_entity_description.regions,
#                         'cities': place_entity_description.cities})
            
        all_countries.append([place_entity_title.countries, place_entity_tags.countries, place_entity_description.countries])
        all_cities.append([place_entity_title.cities, place_entity_tags.cities, place_entity_description.cities])
        all_regions.append([place_entity_title.regions, place_entity_tags.regions, place_entity_description.regions])
        
        print(index)
        
#     video_df['places_title'] = places_title
#     video_df['places_tags'] = places_tags
#     video_df['places_description'] = places_description
    
    for i in range(len(all_countries)):
        
        all_countries[i] = list(set(itertools.chain(*all_countries[i])))  
        all_cities[i] = list(set(itertools.chain(*all_cities[i])))
        all_regions[i] = list(set(itertools.chain(*all_regions[i])))
        
    video_df['all_countries'] = all_countries
    video_df['all_cities'] = all_cities
    video_df['all_regions'] = all_regions
    
    video_df['everywhere'] = (video_df['all_countries'] + video_df['all_cities'] + video_df['all_regions'])
    video_df['everywhere'] = video_df['everywhere'].apply(lambda x: list(pd.Series(x).str.capitalize().unique()) if x else None)

In [66]:
videos_info.shape

(8519, 19)

In [ ]:
#extracting_places(videos_info)

In [481]:
videos_info_copy = videos_info.copy()

In [81]:
# videos_details2.to_pickle('video_details_bestplaces.pkl')
# videos_details.to_pickle('video_details.pkl')

In [480]:
videos_info.to_pickle('video_info.pkl')

In [394]:

def deleting_biased_places(videos_info, to_delete, query, channel_title, year_):
    
    if query == 1:
        
        for idx, row in videos_info.iterrows():
            
            if ((row['channelTitle'] == channel_title) & (row['everywhere'] != None)):
                
                for i in to_delete:
                    
                    if (i in row['everywhere']):

                        row['everywhere'].remove(i)
    
    else:
        for idx, row in videos_info.iterrows():
            
            if ((row['channelTitle'] == channel_title) & (row['year_published'] >= year_) & (row['everywhere'] != None)):
                
                for i in to_delete:
                    
                    if (i in row['everywhere']):

                        row['everywhere'].remove(i)

In [407]:
#deleting_biased_places(videos_info, ['Tennessee', 'Nashville'], 1, 'Kara and Nate', 0)
#deleting_biased_places(videos_info, ['Ontario', 'Grimsby'], 2, 'Kristen & Siya', 2017)
# deleting_biased_places(videos_info, ['Four', 'Ed', 'Thomas'], 1, 'Yes Theory', 0)
#deleting_biased_places(videos_info, ['Pakistan'], 2, 'Drew Binsky', 2021)

In [408]:
places_per_year_by_channel = counting_ocurrences_places_by_channel(videos_info)

In [ ]:
# kara and nate: tennessee and nashville are in every description 
# kristen e siya: their address is on many descriptions and it's grimsby, ontario(17, 18, 19); they do have videos talking about ontario though
# yes theory: ed, four and thomas are not places
# drew binsky: in some of his recent (21, 22) descriptions he links some of his most popular videos and one of them is "► Why is Everything Free in Pakistan?"


places_per_year_by_channel.loc[places_per_year_by_channel['channel'] == 'Drew Binsky']

In [298]:
def counting_ocurrences_places(video_df):

    # I didn't get only the top 3 or 4 places automatically because the entitity recognition library is not very
    # precise and I needed to select by hand which places are real places and which are a possible mistake from the 
    # locationtagger library
    
    everywhere = []
    all_countries = []
    all_cities = []
    all_regions = []
    places_per_year = pd.DataFrame()

    cities = []
    everywhere_ = []
    countries = []
    regions = []
    year = []

    for i in range(video_df['year_published'].min(), video_df['year_published'].max()+1):

        vd = video_df.loc[video_df['year_published']==i]

        for j in range(len(vd["everywhere"])):

            if vd["everywhere"].iloc[j]:
                everywhere += vd["everywhere"].iloc[j] 

            if vd["all_countries"].iloc[j]:
                all_countries += vd["all_countries"].iloc[j]

            if vd["all_cities"].iloc[j]:
                all_cities += vd["all_cities"].iloc[j]

            if vd["all_regions"].iloc[j]:
                all_regions += vd["all_regions"].iloc[j]
        
        year.append(i)
        countries.append(Counter(all_countries).most_common())
        cities.append(Counter(all_cities).most_common())
        regions.append(Counter(all_regions).most_common())
        everywhere_.append(Counter(everywhere).most_common())
        
        everywhere = []
        all_countries = []
        all_cities = []
        all_regions = []
        
    places_per_year['year'] = year
    places_per_year['countries'] = countries
    places_per_year['cities'] = cities
    places_per_year['regions'] = regions
    places_per_year['everywhere'] = everywhere_

        
    return places_per_year

In [276]:
def counting_ocurrences_places_by_channel(video_df):

    # I didn't get only the top 3 or 4 places automatically because the entitity recognition library is not very
    # precise and I needed to select by hand which places are real places and which are a possible mistake from the 
    # locationtagger library
    
    everywhere = []
    all_countries = []
    all_cities = []
    all_regions = []
    places_per_year = pd.DataFrame()

    cities = []
    everywhere_ = []
    countries = []
    regions = []
    year = []
    channel = []

    for c in video_df['channelTitle'].unique():
        df = video_df.loc[video_df['channelTitle']==c]
        
        for i in range(df['year_published'].min(), df['year_published'].max()+1):

            vd = df.loc[df['year_published']==i]

            for j in range(len(vd["everywhere"])):

                if vd["everywhere"].iloc[j]:
                    everywhere += vd["everywhere"].iloc[j] 

                if vd["all_countries"].iloc[j]:
                    all_countries += vd["all_countries"].iloc[j]

                if vd["all_cities"].iloc[j]:
                    all_cities += vd["all_cities"].iloc[j]

                if vd["all_regions"].iloc[j]:
                    all_regions += vd["all_regions"].iloc[j]

            
            channel.append(c)
            year.append(i)
            countries.append(Counter(all_countries).most_common())
            cities.append(Counter(all_cities).most_common())
            regions.append(Counter(all_regions).most_common())
            everywhere_.append(Counter(everywhere).most_common())
            
            everywhere = []
            all_countries = []
            all_cities = []
            all_regions = []
        
    places_per_year['channel'] = channel
    places_per_year['year'] = year
    places_per_year['countries'] = countries
    places_per_year['cities'] = cities
    places_per_year['regions'] = regions
    places_per_year['everywhere'] = everywhere_

        
    return places_per_year

In [426]:
places_per_year_by_channel.loc[places_per_year_by_channel['channel'] == 'Samuel and Audrey - Travel and Food Videos']

,channel,year,countries,cities,regions,everywhere
21,Samuel and Audrey - Travel and Food Videos,2012,"[(canada, 8), (china, 4), (malaysia, 2), (indi...","[(Seoul, 14), (Canada, 8), (English, 5), (Chin...","[(Seoul, 14), (Alberta, 1), (New York, 1)]","[(Seoul, 14), (Canada, 8), (English, 5), (Chin..."
22,Samuel and Audrey - Travel and Food Videos,2013,"[(malaysia, 49), (cambodia, 40), (thailand, 35...","[(English, 33), (China, 29), (Chiang Mai, 24),...","[(Kuala Lumpur, 17), (Bangkok, 14), (Seoul, 14...","[(Malaysia, 49), (Cambodia, 40), (Thailand, 35..."
23,Samuel and Audrey - Travel and Food Videos,2014,"[(canada, 21), (thailand, 19), (germany, 13), ...","[(Canada, 21), (Canadian, 17), (Finland, 12), ...","[(Queensland, 9), (Ontario, 8), (Bangkok, 7), ...","[(Canada, 21), (Thailand, 19), (Canadian, 17),..."
24,Samuel and Audrey - Travel and Food Videos,2015,"[(canada, 29), (peru, 26), (south africa, 18),...","[(Canada, 29), (Peru, 26), (Lima, 24), (Canadi...","[(Lima, 24), (Paris, 11), (Milan, 8), (Madrid,...","[(Canada, 29), (Peru, 26), (Lima, 24), (Canadi..."
25,Samuel and Audrey - Travel and Food Videos,2016,"[(argentina, 44), (peru, 41), (brazil, 16), (c...","[(Seoul, 44), (Argentina, 44), (Peru, 41), (Li...","[(Seoul, 44), (Lima, 27), (Edinburgh, 7), (Lis...","[(Seoul, 44), (Argentina, 44), (Peru, 41), (Li..."
26,Samuel and Audrey - Travel and Food Videos,2017,"[(india, 19), (hong kong, 16), (poland, 15), (...","[(Four, 19), (Hong Kong, 16), (Poland, 15), (C...","[(Taiwan, 13), (Vienna, 12), (Taipei, 12), (Ku...","[(Four, 19), (India, 19), (Hong kong, 16), (Po..."
27,Samuel and Audrey - Travel and Food Videos,2018,"[(japan, 37), (italy, 35), (canada, 22), (peru...","[(Italy, 35), (Tokyo, 25), (Canada, 22), (Peru...","[(Lima, 18), (Venice, 8), (Rome, 8), (Naples, ...","[(Japan, 37), (Italy, 35), (Tokyo, 25), (Canad..."
28,Samuel and Audrey - Travel and Food Videos,2019,"[(canada, 92), (japan, 34), (argentina, 23), (...","[(Canada, 92), (Seoul, 34), (Tokyo, 30), (Arge...","[(Seoul, 34), (Cordoba, 21), (Nara, 15), (Brit...","[(Canada, 92), (Seoul, 34), (Japan, 34), (Toky..."
29,Samuel and Audrey - Travel and Food Videos,2020,"[(canada, 69), (argentina, 49), (india, 17), (...","[(Canada, 69), (Argentina, 49), (Atlantic, 38)...","[(Cordoba, 36), (Ontario, 5), (New Brunswick, ...","[(Canada, 69), (Argentina, 49), (Atlantic, 38)..."
30,Samuel and Audrey - Travel and Food Videos,2021,"[(argentina, 42), (germany, 11), (canada, 10),...","[(Argentina, 42), (German, 11), (Canada, 10), ...","[(Ontario, 6), (Cordoba, 4), (Bavaria, 3), (Co...","[(Argentina, 42), (Germany, 11), (German, 11),..."
31,Samuel and Audrey - Travel and Food Videos,2022,"[(argentina, 12), (canada, 11), (peru, 10), (g...","[(Argentina, 12), (Canada, 11), (Peru, 10), (L...","[(Lima, 9), (Alberta, 6), (Cordoba, 6), (Salzb...","[(Argentina, 12), (Canada, 11), (Peru, 10), (L..."

In [411]:
places_per_year = counting_ocurrences_places(videos_info)
places_per_year

,year,countries,cities,regions,everywhere
0,2009,"[(portugal, 134), (spain, 65), (italy, 48), (g...","[(Lisbon, 110), (Spanish, 74), (Spain, 65), (B...","[(Lisbon, 110), (Barcelona, 51), (Georgia, 47)...","[(Portugal, 134), (Lisbon, 110), (Spanish, 74)..."
1,2010,"[(germany, 38), (portugal, 29), (italy, 13), (...","[(English, 42), (German, 31), (Prague, 18), (A...","[(Illinois, 23), (Vienna, 10), (North Carolina...","[(English, 42), (Germany, 38), (German, 31), (..."
2,2011,"[(thailand, 25), (spain, 12), (monaco, 10), (c...","[(Bangkok, 17), (America, 14), (Usa, 12), (Spa...","[(Bangkok, 17), (California, 5), (Seville, 5),...","[(Thailand, 25), (Bangkok, 17), (America, 14),..."
3,2012,"[(thailand, 31), (italy, 25), (france, 15), (m...","[(Bangkok, 35), (Italy, 25), (Seoul, 22), (Kua...","[(Bangkok, 35), (Seoul, 22), (Kuala Lumpur, 10...","[(Bangkok, 35), (Thailand, 31), (Italy, 25), (..."
4,2013,"[(thailand, 71), (china, 64), (india, 60), (ma...","[(Bangkok, 66), (China, 64), (English, 49), (C...","[(Bangkok, 66), (Kuala Lumpur, 18), (Seoul, 16...","[(Thailand, 71), (Bangkok, 66), (China, 64), (..."
5,2014,"[(thailand, 90), (canada, 43), (germany, 40), ...","[(Bangkok, 54), (Canada, 43), (Toronto, 31), (...","[(Bangkok, 54), (Seoul, 15), (Vienna, 12), (Ho...","[(Thailand, 90), (Bangkok, 54), (Canada, 43), ..."
6,2015,"[(thailand, 111), (france, 98), (germany, 95),...","[(Canada, 93), (Panama, 68), (Canadian, 61), (...","[(Paris, 55), (Bangkok, 52), (Lima, 24), (Taiw...","[(Thailand, 111), (France, 98), (Germany, 95),..."
7,2016,"[(canada, 106), (thailand, 84), (indonesia, 69...","[(Canadian, 121), (Canada, 106), (Four, 59), (...","[(Seoul, 55), (Ontario, 53), (Bangkok, 42), (F...","[(Canadian, 121), (Canada, 106), (Thailand, 84..."
8,2017,"[(canada, 132), (thailand, 75), (mexico, 44), ...","[(Tennessee, 159), (Nashville, 156), (Four, 14...","[(Tennessee, 159), (Ontario, 60), (Bangkok, 40...","[(Canada, 132), (Los angeles, 81), (Montreal, ..."
9,2018,"[(thailand, 92), (philippines, 71), (japan, 57...","[(Four, 165), (Tennessee, 120), (Nashville, 12...","[(Tennessee, 120), (Bangkok, 64), (Ontario, 41...","[(Four, 165), (Thailand, 92), (Philippines, 71..."
10,2019,"[(canada, 100), (japan, 61), (thailand, 52), (...","[(Four, 126), (Tennessee, 112), (Nashville, 11...","[(Tennessee, 112), (Seoul, 45), (Bangkok, 33),...","[(Four, 126), (Canada, 100), (Japan, 61), (Tha..."
11,2020,"[(canada, 96), (argentina, 56), (thailand, 51)...","[(Four, 140), (Canada, 96), (Argentina, 56), (...","[(Tennessee, 53), (Cordoba, 36), (Kabul, 15), ...","[(Four, 140), (Canada, 96), (Argentina, 56), (..."
12,2021,"[(pakistan, 50), (argentina, 44), (thailand, 4...","[(Four, 50), (Nashville, 49), (Tennessee, 48),...","[(Tennessee, 48), (California, 23), (Arizona, ...","[(Four, 50), (Argentina, 44), (Thailand, 41), ..."
13,2022,"[(pakistan, 49), (canada, 41), (thailand, 30),...","[(Nashville, 47), (Tennessee, 46), (Canada, 41...","[(Tennessee, 46), (Paris, 13), (California, 12...","[(Canada, 41), (Thailand, 30), (Us, 29), (New ..."

In [487]:
places_per_year['everywhere'].loc[12]

[('Four', 50),
 ('Argentina', 44),
 ('Thailand', 41),
 ('Us', 23),
 ('California', 23),
 ('New zealand', 22),
 ('Canada', 21),
 ('Iraq', 21),
 ('Los angeles', 18),
 ('Afghanistan', 18),
 ('Indonesia', 16),
 ('Christmas', 15),
 ('Germany', 15),
 ('United states', 14),
 ('Las vegas', 14),
 ('Santa monica', 14),
 ('America', 13),
 ('Italy', 12),
 ('Turkey', 12),
 ('German', 12),
 ('Tonga', 12),
 ('China', 11),
 ('Arizona', 10),
 ('Baghdad', 10),
 ('New york', 9),
 ('Louisiana', 9),
 ('Nevada', 9),
 ('France', 9),
 ('Iowa', 8),
 ('Bangkok', 8),
 ('Mauritania', 8),
 ('English', 8),
 ('Rex', 8),
 ('Ecuador', 8),
 ('Caracas', 8),
 ('San francisco', 7),
 ('New orleans', 7),
 ('Atlantic', 7),
 ('Tucson', 7),
 ('El calafate', 7),
 ('Philippines', 7),
 ('Costa rica', 7),
 ('Kenya', 7),
 ('Saudi arabia', 7),
 ('Jamaica', 7),
 ('Texas', 6),
 ('Jeffrey', 6),
 ('Mexico', 6),
 ('Philadelphia', 6),
 ('India', 6),
 ('Chile', 6),
 ('Spanish', 6),
 ('Ontario', 6),
 ('Pakistan', 6),
 ('Florida', 6),
 ('Oregon', 6),
 ('Hungary', 6),
 ('Budapest', 6),
 ('Syria', 6),
 ('Santa barbara', 5),
 ('Phuket', 5),
 ('Hong kong', 5),
 ('Toronto', 5),
 ('Palau', 5),
 ('Ghana', 5),
 ('Egypt', 5),
 ('Brazil', 5),
 ('Dubai', 5),
 ('Venice', 5),
 ('Arab', 5),
 ('New england', 4),
 ('Massachusetts', 4),
 ('Switzerland', 4),
 ('New jersey', 4),
 ('Connecticut', 4),
 ('Chicago', 4),
 ('Cordoba', 4),
 ('Hollywood', 4),
 ('Paris', 4),
 ('Scotland', 4),
 ('Minerva', 4),
 ('Quito', 4),
 ('Dallas', 3),
 ('Greece', 3),
 ('Canadian', 3),
 ('Colorado', 3),
 ('Minnesota', 3),
 ('Spain', 3),
 ('Rome', 3),
 ('Indiana', 3),
 ('Mississippi', 3),
 ('Spring', 3),
 ('Atlantic city', 3),
 ('New haven', 3),
 ('Maine', 3),
 ('Japan', 3),
 ('Malaysia', 3),
 ('Yunnan', 3),
 ('Munich', 3),
 ('Bavaria', 3),
 ('Berlin', 3),
 ('Comodoro rivadavia', 3),
 ('Sacramento', 3),
 ('Colonia', 3),
 ('Utah', 3),
 ('Bush', 3),
 ('London', 3),
 ('Kabul', 3),
 ('Marsden', 3),
 ('Tampa', 3),
 ('San diego', 3),
 ('Jordan', 3),
 ('Ohio', 3),
 ('Kentucky', 3),
 ('Morocco', 3),
 ('Tajikistan', 3),
 ('Nouakchott', 3),
 ('New hampshire', 2),
 ('Canoe', 2),
 ('Milan', 2),
 ('Virginia', 2),
 ('Biloxi', 2),
 ('South dakota', 2),
 ('West yellowstone', 2),
 ('Nebraska', 2),
 ('Jersey', 2),
 ('Mayo', 2),
 ('Boston', 2),
 ('Hamburg', 2),
 ('Jupiter', 2),
 ('Phoenix', 2),
 ('Phatthalung', 2),
 ('Hill', 2),
 ('Chiang rai', 2),
 ('Udon thani', 2),
 ('Rainbow', 2),
 ('Santa cruz', 2),
 ('Del mar', 2),
 ('Buenos aires', 2),
 ('Thomas', 2),
 ('Burundi', 2),
 ('South sudan', 2),
 ('Michael', 2),
 ('Netherlands', 2),
 ('Qatar', 2),
 ('Kandahar', 2),
 ('South africa', 2),
 ('Marina', 2),
 ('Granby', 2),
 ('Jack', 2),
 ('Namibia', 2),
 ('Uganda', 2),
 ('Cairo', 2),
 ('Luxor', 2),
 ('Cleveland', 2),
 ('Ireland', 2),
 ('Belfast', 2),
 ('Louisville', 2),
 ('Belgium', 2),
 ('Brussels', 2),
 ('Galveston', 2),
 ('El salvador', 2),
 ('Pella', 2),
 ('Georgia', 2),
 ('Missouri', 2),
 ('Slovenia', 2),
 ('Avignon', 2),
 ('Kansas city', 2),
 ('Montego bay', 2),
 ('Kingston', 2),
 ('Burkina faso', 2),
 ('Libya', 2),
 ('Pyongyang', 2),
 ('Basra', 2),
 ('Karbala', 2),
 ('Arusha', 2),
 ('Miles', 1),
 ('Detroit', 1),
 ('Vermont', 1),
 ('Rhode island', 1),
 ('Leadville', 1),
 ('Madrid', 1),
 ('Maryland', 1),
 ('Bolivia', 1),
 ('Wall', 1),
 ('Montana', 1),
 ('Oklahoma city', 1),
 ('Tulsa', 1),
 ('Oklahoma', 1),
 ('Ii', 1),
 ('Finland', 1),
 ('Red rock', 1),
 ('Winnebago', 1),
 ('Chiang mai', 1),
 ('San gabriel', 1),
 ('Swan', 1),
 ('San pedro', 1),
 ('Laura', 1),
 ('Madonna', 1),
 ('Usa', 1),
 ('Camden', 1),
 ('Asbury park', 1),
 ('Bison', 1),
 ('East boston', 1),
 ('Yale', 1),
 ('Pennsylvania', 1),
 ('Portland', 1),
 ('West haven', 1),
 ('Manchester', 1),
 ('Jesus', 1),
 ('Cham', 1),
 ('Masala', 1),
 ('Songkhla', 1),
 ('Wellington', 1),
 ('Myanmar', 1),
 ('Tamil nadu', 1),
 ('Sichuan', 1),
 ('Kalasin', 1),
 ('Leipzig', 1),
 ('Abbey', 1),
 ('Quedlinburg', 1),
 ('Celle', 1),
 ('Tostado', 1),
 ('Punta arenas', 1),
 ('Cheonan', 1),
 ('Perito moreno', 1),
 ('Estancia', 1),
 ('Rada tilly', 1),
 ('El bolson', 1),
 ('Hudson bay', 1),
 ('Bunkie', 1),
 ('San carlos de bariloche', 1),
 ('New mexico', 1),
 ('San bernardo', 1),
 ('Brampton', 1),
 ('San miguel', 1),
 ('Sandwich', 1),
 ('Dwight', 1),
 ('Stephen', 1),
 ('Illinois', 1),
 ('Ankara', 1),
 ('Kerby', 1),
 ('Tyler', 1),
 ('Congo', 1),
 ('Karachi', 1),
 ('Lee', 1),
 ('Melissa', 1),
 ('Amsterdam', 1),
 ('Juba', 1),
 ('Meredith', 1),
 ('Albania', 1),
 ('North dakota', 1),
 ('Pacific', 1),
 ('Williams', 1),
 ('Auckland', 1),
 ('Ford', 1),
 ('Manta', 1),
 ('Fiji', 1),
 ('David', 1),
 ('Denver', 1),
 ('Belle', 1),
 ('Lotus', 1),
 ('Humboldt', 1),
 ('Nosara', 1),
 ('Montezuma', 1),
 ('Vienna', 1),
 ('San mateo', 1),
 ('Ardahan', 1),
 ('Ukraine', 1),
 ('Morogoro', 1),
 ('Madagascar', 1),
 ('Turkmenistan', 1),
 ('Oman', 1),
 ('Romania', 1),
 ('Russia', 1),
 ('Petra', 1),
 ('West coast', 1),
 ('Star', 1),
 ('Nairobi', 1),
 ('Kyoto', 1),
 ('Mount sinai', 1),
 ('Dublin', 1),
 ('Frisco', 1),
 ('Lexington', 1),
 ('Malibu', 1),
 ('Beverly hills', 1),
 ('Manhattan beach', 1),
 ('Green bay', 1),
 ('Nola', 1),
 ('Tennessee', 1),
 ('Nashville', 1),
 ('Brugge', 1),
 ('San antonio', 1),
 ('Carson city', 1),
 ('Albany', 1),
 ('Buffalo', 1),
 ('Strasbourg', 1),
 ('Holland', 1),
 ('Winterset', 1),
 ('Natchez', 1),
 ('Tupelo', 1),
 ('England', 1),
 ('Moscow', 1),
 ('Idaho', 1),
 ('South beach', 1),
 ('Miami beach', 1),
 ('Havana', 1),
 ('Miami', 1),
 ('Beckley', 1),
 ('West virginia', 1),
 ('Rwanda', 1),
 ('Charles', 1),
 ('Helen', 1),
 ('Bentonville', 1),
 ('Yellville', 1),
 ('Fayetteville', 1),
 ('Arkansas', 1),
 ('Branson', 1),
 ('Shreveport', 1),
 ('Baton rouge', 1),
 ('Lithuania', 1),
 ('Savannah', 1),
 ('Hawaii', 1),
 ('Luxembourg', 1),
 ('Nice', 1),
 ('Casablanca', 1),
 ('Cuenca', 1),
 ('Ottawa', 1),
 ('Ljubljana', 1),
 ('Dave', 1),
 ('Vicenza', 1),
 ('Padua', 1),
 ('Croatia', 1),
 ('Sao paulo', 1),
 ('Chania', 1),
 ('Athens', 1),
 ('Poland', 1),
 ('Krakow', 1),
 ('Barcelona', 1),
 ('Aruba', 1),
 ('Portugal', 1),
 ('Lisbon', 1),
 ('Rum', 1),
 ('Island', 1),
 ('Gram', 1),
 ('Nigeria', 1),
 ('Kazakhstan', 1),
 ('Panama', 1),
 ('Dominican republic', 1),
 ('Norway', 1),
 ('Hanoi', 1),
 ('Guam', 1),
 ('Yemen', 1),
 ('Tripoli', 1),
 ('Puerto rico', 1),
 ('Rico', 1),
 ('Puerto', 1),
 ('Australia', 1),
 ('Melbourne', 1),
 ('United arab emirates', 1),
 ('Lebanon', 1),
 ('Mexico city', 1),
 ('Mesopotamia', 1),
 ('Damascus', 1),
 ('Mosul', 1),
 ('Istanbul', 1),
 ('Scottsdale', 1),
 ('Zambia', 1),
 ('Udaipur', 1),
 ('Jaipur', 1),
 ('Jodhpur', 1),
 ('Rajasthan', 1),
 ('Kerman', 1),
 ('Manila', 1),
 ('National park', 1)]

In [488]:
# in 2020 there were too many videos about argentina from one single channel that isn't very big, so it's important to check qty of views for each place
places_per_year_filtered = pd.DataFrame()
places_per_year_filtered['year'] = [2018, 2019, 2020, 2021]
places_per_year_filtered['top_places'] = [list(itemgetter(1,2,3,4)(places_per_year['everywhere'].iloc[9])),
                                           list(itemgetter(1,2,3,4)(places_per_year['everywhere'].iloc[10])),
                                           list(itemgetter(1,2,3,7,8)(places_per_year['everywhere'].iloc[11])),
                                           list(itemgetter(1,2,3,4,5)(places_per_year['everywhere'].iloc[12]))]

In [489]:
places_per_year_filtered

   year                                         top_places
0  2018  [(Thailand, 92), (Philippines, 71), (Bangkok, ...
1  2019  [(Canada, 100), (Japan, 61), (Thailand, 52), (...
2  2020  [(Canada, 96), (Argentina, 56), (Thailand, 51)...
3  2021  [(Argentina, 44), (Thailand, 41), (Us, 23), (C...

In [476]:
def get_views_per_top_place(video_df, places_df):
    
    views = 0
    total_views_per_place = []
    total_views_per_place2 = []
  
    for idx, row in places_df.iterrows():
        for place in row['top_places']:

            for idx2, row2 in video_df.iterrows():

                if row2['year_published'] == row['year']:

                    if (row2['everywhere'] != None):
                        if (place[0] in row2['everywhere']):
                            views += row2['viewCount']

            total_views_per_place.append((place[0], views))
            views = 0


        total_views_per_place2.append(total_views_per_place)
        total_views_per_place = []

    places_df['views_per_place'] = total_views_per_place2
        
    return places_df

In [490]:
places_per_year_filtered = get_views_per_top_place(videos_info, places_per_year_filtered)
places_per_year_filtered['views_per_place'].loc[3]

[('Argentina', 1428384.0),
 ('Thailand', 78097246.0),
 ('Us', 17452715.0),
 ('California', 26217356.0),
 ('New zealand', 7581476.0)]

In [491]:
places_per_year_filtered

,year,top_places,views_per_place
0,2018,"[(Thailand, 92), (Philippines, 71), (Bangkok, ...","[(Thailand, 125362547.0), (Philippines, 464475..."
1,2019,"[(Canada, 100), (Japan, 61), (Thailand, 52), (...","[(Canada, 5785997.0), (Japan, 35180294.0), (Th..."
2,2020,"[(Canada, 96), (Argentina, 56), (Thailand, 51)...","[(Canada, 9177054.0), (Argentina, 2734348.0), ..."
3,2021,"[(Argentina, 44), (Thailand, 41), (Us, 23), (C...","[(Argentina, 1428384.0), (Thailand, 78097246.0..."

In [492]:
places_per_year_by_channel.to_pickle('places_per_year_by_channel.pkl')
places_per_year_filtered.to_pickle('top_places_per_year_views.pkl')

In [ ]:
print(places_per_year_by_channel['everywhere'].loc[places_per_year_by_channel['year']==2018])

In [ ]:
# vd = videos_info.loc[videos_info['year_published']==2018]
# vd['everywhere']=vd['everywhere'].astype('str')
# vd = vd.groupby(['channelTitle']).agg(places = ('everywhere', 'unique'))

In [ ]:
# for idx, row in places_per_year_by_channel.iterrows():
#     print(row['channel'], pd.Series(row['everywhere']).str.contains('German', regex=False).sum())